<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <a class='button' href="groups">Groups</a>
      <a class='button' href="contacts">Contacts</a>
      <a class='button' href="profiles">Profiles</a>
      <a class='button' href="address">Address</a>
      <a class='button' href="groups/details">G Details</a>
      <a class='button' href="contacts/details">C Details</a>
    </nav>
    <table>
      <tr>
        <th>Id</th>
        <th>Street</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Contact Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <% datas.forEach( data => {%>
      <tr>
        <td><%= data.id%></td>
        <td><%= data.street%></td>
        <td><%= data.city%></td>
        <td><%= data.zip_code%></td>
        <td><%= data.contacts_id%></td>
        <td><%= data.name%></td>
        <td><a class='button_2' href="/address/delete/<%= data.id%>">Delete</a>||
            <a class='button_2' href="/address/edit/<%= data.id%>">Edit</a>
        </td>
      <%}) %>
      </tr>

    </table>
    <form action="/address" method="post">
      <input type="text" name="street" placeholder="street">
      <input type="text" name="city" placeholder="city">
      <input type="text" name="zip_code" placeholder="zip_code">
      <select name="contacts_id">
        <% data2.forEach( cont => {%>
          <option value="<%= cont.id%>"><%= cont.name%></option>
        <%})%>
      </select>
      <button class="button_3"type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
