<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>show address from contact</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- <%= JSON.stringify(show_address) %> -->
    <form class="" action="/addAddress" method="POST">
      <a href="/"><input type="button" value="HOME"></a>      
      <input type="submit" name="" value="ADD NEW ADDRESS">
      <a href="/contacts"><input type="button" value="CONTACTS"></a>
      <a href="/groups"><input type="button" value="GROUPS"></a> 
      <a href="/profiles"><input type="button" value="PROFILES"></a>     
    </form>
    
    <table style="table">
      <tr style="tr">
        <th style="th">ID</th>
        <th style="th">Street</th>
        <th style="th">City</th>
        <th style="th">Zip Code</th>
        <th style="th">Contact Name</th>
        <th class="action" colspan="2">ACTION</th>
      </tr>
      
      <% show_address.forEach(address => { %>        
      <tr style="tr">
        <td style="td"><%= address.id %></td>
        <td style="td"><%= address.street %></td>
        <td style="td"><%= address.city %></td>
        <td style="td"><%= address.zipcode %></td>
        <td style="td"><%= address.name %></td>
        <td class="editdelete"><a href="/addresses/edit/<%= address.id %>">EDIT</a></td>
        <td class="editdelete"><a href="/addresses/delete/<%= address.id %>" style="color:red" onclick="return confirm('Are you sure want to delete this record?')">DELETE</a></td>
      </tr>
    <% }) %>
      
    </table>
  </body>
</html>