<!DOCTYPE html>
<html lang="en">
<head>
  <title>Address</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
  <div class="container"><br/><br/>
    <h2 align="center">Hi, Welcome to</h2>
    <h3 align="center">Contact Group Application Center</h3>
    <ul class="pager" role="tablist">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/contacts">Contact</a></li>
    <li role="presentation"><a href="/groups">Group</a></li>
    <li role="presentation"><a href="/profiles">Profile</a></li>
    <li role="presentation"><a href="/address">Address</a></li>
  </ul>
  </div>
  
  <div class="container">
    <h3>Show Data Contact Address</h3>
    <br>    
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID Address</th>
        <th>Street</th>
        <th>City</th>
        <th>ZIP Code</th>
        <th>Contact Name</th>
        <th>Company</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <% data_address.forEach(address => { %>
      <tr>
        <td><%= address.id%></td>
        <td><%= address.street%></td>
        <td><%= address.city%></td>
        <td><%= address.zip_code%></td>
        <td><%= address.name%></td>
        <td><%= address.company%></td>
        <td><a href="/address/edit/<%=address.id%>">Edit</a> || <a href="/address/delete/<%=address.id%>" onclick="return confirm('Are you sure you want to delete this data?');">Delete</a></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>


<div class="container">
<form class="form-inline" action="/address" method="post">
  
  <div class="form-group">
    <label>Street : </label>
    <input class="form-control" type="text" name="saveStreet" value="">
</div>

<div class="form-group">
    <label>City : </label>
  <input class="form-control" type="text" name="saveCity" value="">
</div>

<div class="form-group">
    <label>ZIP Code : </label>
  <input class="form-control" type="text" name="saveZIP" value="">
</div>

<div class="form-group">
  <label>Name : </label>
  <select name="saveContactsID" class="form-control">
    <% data_contact.forEach(contact => { %>
    <option value="<%- contact.id%>" selected>
      <%- contact.name%>
    </option>
      <% }) %>
      <option value=""></option>
  </select>
</div>

  <button type="submit" name="button" class="btn btn-default">Add New Address</button>
</form>
</div>

</body>
</html>
