
      <!-- <table>
        <thead>
          <tr>
                <th>Name</th>
                <th>Company</th>
                <th> Telepon Number </th>
                <th> Email </th>
                <th> Address </th>
                <th> Contact Id</th>
              </tr>
            </thead>
                <tbody>
              <% data2.forEach(d => {%>
                <tr>
                  <td><%= d.name %> </td>
                  <td><%= d.company %></td>
                  <td><%= d.telp_number %></td>
                  <td><%= d.email %></td>
                  <td><%= d.street%>. <%= d.city%>. <%= d.zip_code%></td>
                  <td><%= d.contact_id%></td>
                </tr>
              <% }) %>
                </tbody>
      </table> -->
