<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Edit</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>     
    <form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" action="/contacts/edit/<%=data_contact[0].id%>" method="post">
      <fieldset>
        <legend>Edit Data Contact</legend>
        <b>Nama : </b><br>        
        <input class="w3-input w3-border" type="text" name="nama" value="<%=data_contact[0].name%>"> <br><br>
        <b>Company : </b><br>
        <input class="w3-input w3-border" type="text" name="company" value="<%=data_contact[0].company%>"> <br><br>
        <b>Phone : </b><br>
        <input class="w3-input w3-border" type="text" name="phone" value="<%=data_contact[0].telp_number%>"> <br><br>
        <b>Email : </b><br> 
        <input class="w3-input w3-border" type="text" name="email" value="<%=data_contact[0].email%>"> <br><br>
        <br>
        <input type="submit" value="SUBMIT">        
      </fieldset>
    </form>    
  </body>
</html>