<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    
    <div class="container"><br/><br/>
      <h2 align="center">Hi, Welcome to</h2>
      <h3 align="center">Contact Group Application Center</h3>
      <ul class="pager" role="tablist">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/contacts">Contact</a></li>
      <li role="presentation"><a href="/groups">Group</a></li>
      <li role="presentation"><a href="/contacts-groups">Contact Group</a></li>
      <li role="presentation"><a href="/profiles">Profile</a></li>
      <li role="presentation"><a href="/address">Address</a></li>
    </ul>
    </div>
    
    
    <div class="container">
      <h3>Show Data Contact Group</h3>
      <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Contact ID</th>
          <th>Group ID</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <% ContactGroup.forEach(data => { %>
        <tr>
          <td><%= data.id%></td>
          <td><%= data.Contacts_id%></td>
          <td><%= data.Groups_id%></td>
          <td><a href="/contacts-groups/edit/<%=data.id%>">Edit</a> || <a href="/contacts-groups/delete/<%=data.id%>" onclick="return confirm('Are you sure want to delete this group?');">Delete</a></td>
        </tr>
        <% })%>
      </tbody>
    </table>
    </div>
    
    <div class="container">    
    <form class="form-inline" action="/contacts-groups" method="post">
      <div class="form-group">
        <label>Contact ID : </label>
        <select name="saveContactsID" class="form-control">
          <option value="" selected>Choose Name</option>
          <% data_contact.forEach(contact => { %>
          <option value="<%= contact.id%>"><%= contact.name%></option>
            <% }) %>
        </select>
    </div>
    
    <div class="form-group">
      <label>Group ID : </label>
    <input class="form-control" type="text" name="saveGroups_id" value="">
  </div>
      <button type="submit" name="button" class="btn btn-default">Add New Contact Group</button>
    </form>
  </div>
  
  </body>
</html>
