<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit profile</title>
  </head>
  <body>
    <form action="/profiles/edit/<%= dataEdit[0].id %>" method="post">
      <input type="text" name="formUsername" placeholder="username" value="<%= dataEdit[0].username %>"><br>
      <input type="text" name="formPassword" placeholder="password" value="<%= dataEdit[0].password %>"><br>
      <!-- <input type="text" name="formIdContact" placeholder="id contact" value="<%= dataEdit[0].Contacts_id %>"><br> -->
      <label for="formIdContact">Contact name:</label>
      <select name="formIdContact">
        <% dataKontak.forEach(d => { %>
        <option value="<%= d.id %>"><%= d.name %></option>
        <% }) %>
      </select><br>
      <input type="submit" name="submit" value="SUBMIT">
    </form>
  </body>
</html>
