<!DOCTYPE html>
<html>
<head>
  <title>Address</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

  <body>
    <div class="container"><br/><br/>
      <h2 align="center">Hi, Welcome to</h2>
      <h3 align="center">Contact Group Application Center</h3>
      <ul class="pager" role="tablist">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/contacts">Contact</a></li>
      <li role="presentation"><a href="/groups">Group</a></li>
      <li role="presentation"><a href="/profiles">Profile</a></li>
      <li role="presentation"><a href="/address">Address</a></li>
    </ul>
    </div>
    
      <div class="container">
      <h3>Update Address</h3>
      <br>
        <form class="form-inline" action="/address/edit/<%= dataAddress.id%>" method="post">
        
        <div class="form-group">
          <label>Street : </label>
          <input class="form-control" type="text" name="saveStreet" value="<%= dataAddress.street%>">
        </div>
        
        <div class="form-group">
          <label>City : </label>
          <input class="form-control" type="text" name="saveCity" value="<%= dataAddress.city%>">
        </div>
        
        <div class="form-group">
          <label>ZIP Code : </label>
          <input class="form-control" type="text" name="saveZIP" value="<%= dataAddress.zip_code%>">
        </div>
        
        <div class="form-group">
          <label>Name : </label>
          <select name="saveContactsID" class="form-control">
            <option value="<%= dataAddress.ContactId%>" selected><%= dataContact[0].name%></option>
            
            <% dataContact.forEach(contact => { %>
              <option value="<%- contact.id%>"><%- contact.name%></option>
            <% })%>
          </select>
        </div>  
          
        <button type="submit" name="" class="btn btn-default">Update</button>
        </form>
    </div>
    
  </body>
</html>
