<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Contacts</title>
  </head>
  <body>
      <form action="/contacts/edit/:<%= data_contacts[0].id %>" method="post">
      <input type="hidden" name="id" placeholder="ID" value="<%= data_contacts[0].id %>">
      <input type="text" name="name" placeholder="Your full name" value="<%= data_contacts[0].name %>">
      <input type="text" name="company" placeholder="Your company name" value="<%= data_contacts[0].company %>">
      <input type="text" name="telp_number" placeholder="Your phone number" value="<%= data_contacts[0].telp_number %>">
      <input type="text" name="email" placeholder="Your email address" value="<%= data_contacts[0].email %>">

      <button type="submit">Submit</button>
    </form>
  </br>
  <a href="/contacts">Cancel</a>
  </body>
</html>
