<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Grouping Contact</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="col-sg-8 ">
    <br>
    <center>
      <h1>My Contacts Groups List</h1>
      <h3>Express JS dan SQLITE3 App</h3><br>
      <a href="../"><input type="submit" value="Home" class="btn btn-primary"></a> &nbsp;
      <br><br>

        <form action="/my-contact-groups" method="post"  class="form-inline">
            <select name="contact_id"  class="form-control">
                <option value="" disabled selected>Choose Name</option>
              <% datakontak.forEach(getDataKontak => {%>
                <option value="<%= getDataKontak.id%>"><%= getDataKontak.id%> - <%= getDataKontak.name%></option>
              <%})%>
            </select>
            join to :
            <select name="group_id"  class="form-control">
              <option value="" disabled selected>Choose Group</option>
              <% datagroup.forEach(getDataGroup => {%>
                <option value="<%= getDataGroup.id%>"><%= getDataGroup.id%> - <%= getDataGroup.group_name%></option>
              <%})%>
            </select>
            &nbsp;
            <input type="submit" value="Add New Grouping" class="btn btn-success">
        </form><br>
      <table width='800' class="table table-striped table-hover">
        <thead>
          <th>No</th>
          <th>Name</th>
          <th>Company</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Group Name</th>
          <!-- <th class="text-center">Action</th> -->
        </thead>
        <% var i = 1;
        grouping_data.forEach(getData => {

          %>

        <tr>
          <td><%= i %> <% i += 1 %></td>
          <td><%= getData.name %></td>
          <td><%= getData.company %></td>
          <td><%= getData.phone %></td>
          <td><%= getData.email %></td>
          <td><%= getData.group_name %></td>

          <!-- <td align='center'>
            <a href="/my-contact-groups/edit/<%= getData.id %>"><button type="button" name="button" class="btn btn-info">Edit</button></a>
            <a href="/my-contact-groups/delete/<%= getData.id %>"><button type="button" name="button" class="btn btn-danger">Delete</button></a>
            <a href="/contacts/show-address/<%= getData.id %>"><button type="button" name="button" class="btn btn-success">Show Address</button></a>
          </td> -->
        </tr>

        <% }) %>
      </table>
    </center>
  </div></div>
  </body>
</html>
