<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='style.css' />
    <title> MVC </title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Id</th>
            <th> User Name </th>
            <th> Password</th>
              <th> Contact Id </th>
              <th> name dr contact</th>
                <th> company dr contact</th>
                <th>Action</th>
          </tr>
        </thead>
      <tbody>
        <% panggilData.forEach(function(profile) { %>
      <tr>
      <th> <%= profile.id %> </th>
      <th> <%= profile.username %> </th>
      <th> <%= profile.password %> </th>
      <th> <%= profile.ContactId %> </th>
      <th> <%= profile.name %> </th>
      <th> <%= profile.company %> </th>
      <th><a href="/profiles/edit/<%= profile.id %>">Edit</a></th>
      <th> <a href="/profiles/delete/<%= profile.id %>">Delete</a> </th>
      </tr>
          <%  }) %>
      </tbody>
    <table>
<br>
<br>
<br>

      <form action="/profiles" method="post">
            USERNAME:
        <input type="text" name="username" placeholder="your username"><br>
            PASSWORD:
        <input type="text" name="password" placeholder="your password"><br>
        CONTACT ID:
    <input type="text" name="ContactId" placeholder="input contact id"><br>
        <button type="submit"> submit </button>
      </form>
        </body>
      </html>
