<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h1>PROFILE EDIT FORM</h1><br><br>
    <form action="/profile/edit/<%=dataProfile[0].id%>" method="POST">
    Username:<br>
    <input type="text" name="UsernameEjs" value="<%=dataProfile[0].Username %>">
     <br> Password:   <br>
    <input type="text" name="PasswordEjs" value="<%=dataProfile[0].Password %>">
     <br> Contact_id:   <br>
    <select name = "Contact_idEjs" >
    <option value = "<%=dataProfile[0].Contact_id %>" selected> <%=dataProfile[0].Contact_id %>
    </option>
    <% dataCon.forEach( cont => { %>
    <option value ="<%= cont.id %>">
    <%= cont.Name %>
    </option>
    <% }) %>
  </select>
    <br><br>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
