<table>
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Password</th>
    <th>Contact Id</th>
    <th>name</th>
    <th>company</th>
    <th>email</th>
  </tr>
  <% datas.forEach( data => {%>
  <tr>
    <td><%= data.id%></td>
    <td><%= data.username%></td>
    <td><%= data.password%></td>
    <td><%= data.contacts_id%></td>
    <td><%= data.name%></td>
    <td><%= data.company%></td>
    <td><%= data.email%></td>
  <%}) %>
  </tr>
</table>
