<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Profile</title>
  </head>
  <body>
    <form class="" action="/profiles/edit/<%= data_profile[0].id %>" method="post">
      <fieldset>
        <legend>Edit Data Profile</legend>
        <b>Username : </b><br>
        <input type="text" name="username" value="<%= data_profile[0].username %>"> <br><br>
        <b>Facebook Username : </b><br>
        <input type="text" name="facebook" value="<%= data_profile[0].facebook_username %>"> <br><br>
        <b>Google Username : </b><br>
        <input type="text" name="google" value="<%= data_profile[0].google_username %>"> <br><br>
        <b>Contact ID : </b><br>
        <!-- <input type="text" name="contacts_id" value="<%= data_profile[0].contacts_id %>"> <br><br> -->
        <select class="" name="contacts_id">
        <% name_contact.forEach(contact => { %>
          <option value="<%= contact.id %>"><%= contact.name %></option>
      <% }) %>
        </select>
        <br><br> 
        
        <input type="submit" name="" value="SUBMIT">
      </fieldset>
    </form>
  </body>
</html>