<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>group contacts by id page</title>
  </head>
  <body>
    <%= header %>
    <table border="1">
      <tr>
      <th>Id</th>
      <th>Name Of Group</th>
      <th>Contact Id</th>
      <th>Contact Name</th>
      <th>Company</th>
      <th>Telp Number</th>
      <th>Email</th>
      </tr>
    <% dataGroupContact.forEach( ct => { %>
      <tr>
      <td><%= ct.id %></td>
      <td><%= ct.name_of_group %></td>
      <td><%= ct.contacts_id %></td>
      <td><%= ct.name %></td>
      <td><%= ct.company %></td>
      <td><%= ct.telp_number %></td>
      <td><%= ct.email %></td>
      </tr>
    <% }) %>
  </table>
    <br>
    <a href="/groups">Groups</a>
  </body>
</html>
