<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      <div class="col-sg-4 ">
      <center>

        <h1>Show Address</h1>
        <h3>Express JS dan SQLITE3 App</h3><br>
        <a href="/contacts"><button class="btn btn-info">Home</button></a>

          <table  class="table table-hover">
            <tr>
              <td>NO</td>
              <!-- <td>First Name</td>
              <td>Last Name</td> -->
              <td>Street</td>
              <td>City</td>
              <td>Zip Code</td>
            </tr>
            <% var i = 1; show.forEach(getData => { %>

            <tr>
              <td><%= i %><% i += 1 %></td>
              <!-- <td><%= getData.firstname %></td>
              <td><%= getData.lastname %></td> -->
              <td><%= getData.street %></td>
              <td><%= getData.city %></td>
              <td><%= getData.zip_code %></td>
            </tr>

        <% }) %>
        </table>
      </center>
    </div>
  </div>
  </body>
</html>
